<footer class="page-footer footer space"> 
<div class="row  grey-text text-lighten-4"><br>
<div class="center grey-text text-lighten-4"> 
Powered by Google Material Design
</div> 
</div> 
<div class="footer-copyright"> 
<div> © 2016 Copyright Information <a href="#" class="fa fa-facebook blue-text text-darken-4"></a> 
<a href="#" class="fa fa-github grey-text text-darken-4"></a> 
<a href="#" class="fa fa-google red-text text-darken-4"></a><a class="grey-text text-lighten-4 right" href="#!">Links</a> </div> 
</footer>