<!DOCTYPE html> 
<html>
<head>

	<title>Facebook OAuth | Node.js</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta name="description" content="online coop service nitk">
	<meta name="keywords" content="nitk online coop">

	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
	<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

	<main>
		<!-- Mixins-->
		<!-- Pen Title-->
		<div class="pen-title">
			<h1>Nodejs Facebook Auth</h1><span>Made <i class='fa fa-code'></i> by <a href='https://github.com/vansjyo'>#vansjyo</a></span>
		</div>
		<div class="container">

			<div class="row center">


				<h4>Log In<br></h4>
				<div class="row coll">
					<a href="/auth/facebook" class="waves-effect waves-light btn-large getstart social facebook">
						<i class="fa fa-facebook"></i> Sign in with facebook
					</a>
				</div>


			</div>
		</div>


	</main>



	<!-- footer -->
	<% include partials/footer.ejs %>
	<!-- ////footer -->

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
	<script src="/assets/js/jquery.flexslider.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</body>
</html>
